<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>


    <table th:fragment="jobs-table" class="table" th:if="${jobs}" width="100%">
        <thead>
        <tr>
            <th th:each="column : ${jobs.get(0).keySet()}" th:text="${#strings.capitalizeWords(column)}">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${jobs}">
            <td th:each="column : ${job.keySet()}">
                <div th:if='${column != "name"}'>
                    <a th:href="@{/search/results(searchType=${column},searchTerm=${job.get(column)})}" th:text="${job.get(column)}"></a>
                </div>
                <div th:if='${column == "name"}' th:text="${job.get(column)}"></div>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>